.calory-circle-container {
  max-height: 50%;
  max-width: 50%;
  margin: auto;
  margin-top: 1em;
}
.food-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  resize: horizontal;
  overflow: hidden;
  background-color: "red";
}
.food {
  margin: 1em;
  padding: 0.5em;
  width: 4em;
  height: 4em;
  min-width: 0;
  border-color: black;
  font-size: 13px;
}
img {
 width: 4em;
 height: 4em;
 margin: auto;
}
.target_cal-container{
    padding: 0.5em;
    margin: 0.5em 2em;
    font-weight: bold;
    color: #FF5A36;
    background: #FFF;
    border: solid 3px #FF5A36;
    border-radius: 10px;
    text-align: center;
}
.target_cal-container > p{
    margin: 0; 
    padding: 0;
}
/*override*/
.navbar{
  margin-bottom: 15px;
}
/*
 * react-circular-progressbar styles
 *
 * All of the styles in this file are optional and configurable!
 */

.CircularProgressbar {
  /*
   * This fixes an issue where the CircularProgressbar svg has
   * 0 width inside a "display: flex" container, and thus not visible.
   *
   * If you're not using "display: flex", you can remove this style.
   */
  width: 100%;
}

.CircularProgressbar .CircularProgressbar-path {
  stroke: #3e98c7;
  stroke-linecap: round;
  transition: stroke-dashoffset 0.5s ease 0s;
}

.ReachedTodayCalory{
  stroke: #FF5A36;
  stroke-linecap: round;
  transition: stroke-dashoffset 0.5s ease 0s;
  fill: #FF5A36;
  font-size: 20px;
  /*dominant-baseline: middle;*/
  text-anchor: middle;
}

.CircularProgressbar .CircularProgressbar-trail {
  stroke: #d6d6d6;
}

.CircularProgressbar .CircularProgressbar-text {
  fill: #3e98c7;
  font-size: 20px;
  /*dominant-baseline: middle;*/
  text-anchor: middle;
}

.CircularProgressbar .CircularProgressbar-background {
  fill: #d6d6d6;
}

/*
 * Sample background styles. Use these with e.g.:
 *
 *   <CircularProgressbar
 *     className="CircularProgressbar-inverted"
 *     background
 *     percentage={50}
 *   />
 */
.CircularProgressbar.CircularProgressbar-inverted
  .CircularProgressbar-background {
  fill: #3e98c7;
}

.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-text {
  fill: #fff;
}

.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-path {
  stroke: #fff;
}

.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-trail {
  stroke: transparent;
}
